# pixi environments
.pixi/*
!.pixi/config.toml

__pycache__
.jj
.env
logs/

frontend/.svelte-kit/
frontend/build/
frontend/node_modules/
frontend/.tmp/

gp.php
data/
satellite-recordings/
scrap_data/
docs/figures/
docs/*.html
docs/*.pdf

# Jupyter
.ipynb_checkpoints/
notebooks/*.ipynb

# Python Packaging
*.egg-info/
dist/
build/
